/* Base Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e; /* Dark background for the entire site */
    color: #f5f5f5; /* Light text color for contrast */
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2b2b2b; /* Dark grey background for the main container */
    border-radius: 10px; /* Slight rounding of corners for a softer look */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #444; /* Darker border for the table */
    font-size: 16px;
}

th {
    background-color: #1b1f3b; /* Darker grey for headers */
    color: #f3ba2f; /* Golden-yellow text for contrast */
}

td {
    background-color: #2c2c2c; /* Darker background for table cells */
    color: #f5f5f5; /* Light grey text for readability */
}

/* Buttons */
button {
    background-color: #1b1f3b; /* Bright orange color matching flames */
    color: #f3ba2f;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
    background-color: #f3ba2f; /* Slight hover effect */
    color: #1b1f3b;
}

/* Form Fields */
input[type="radio"], input[type="number"] {
    width: 100%; /* Make sure the input fits the cell */
    max-width: 150px; /* Set a reasonable max-width to avoid overflow */
    padding: 8px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: white;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

/* delete spinner */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"] {
    margin: 10px;
}

/* Switch Container */
.switch-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.switch-label {
    margin-right: 10px;
    font-size: 18px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b1f3b;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #f3ba2f;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Radio Button Styling */
.reaction-options {
    margin-top: 10px;
    justify-content: space-between;
}

.reaction-options input[type="radio"] {
    display: none;
}

.reaction-options label {
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #1b1f3b;
    color: #f3ba2f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reaction-options input[type="radio"]:checked + label {
    background-color: #f3ba2f; /* Change background color on selection */
    color: #1b1f3b; /* Ensure text color is white when selected */
}

.reaction-options input[type="radio"]:disabled + label {
    cursor: not-allowed;
    opacity: 0.5; 
}

/* Change cursor to "not-allowed" when disabled */
.reaction-options input[type="radio"]:disabled {
    cursor: not-allowed;  /* Shows a 'disabled' icon */
    pointer-events: all !important;
}

.title-result {
    margin-top: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
    td input[type="number"] {
        max-width: 100%;
    }
    table, th, td {
        font-size: 14px;
    }
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .reaction-options {
        flex-direction: column;
        align-items: center;
    }
    .reaction-options label {
        width: 100%;
        margin-bottom: 10px;
    }
}
