{% extends 'index.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/calculate.css')}}">
{% endblock css %}

{% block js %}
<script src="{{url_for('static', filename='js/calculate.js')}}" defer></script>
{% endblock js %}

{% block body_content %}
<main class="main-container">
    <form id="calculate" action="/calculate" method="POST">
        <article class="entry">
            <table>
                <tr>
                    <td>Hutao</td>
                </tr>
                <tr>
                    <td>HP</td>
                    <td><input type="text" name="hp" id="hp" required placeholder="HP" value="{{ hp_value }}"></td>
                </tr>
                <tr>
                    <td>ATK</td>
                    <td><input type="text" name="atk" id="atk" required placeholder="ATK" value="{{ atk_value }}"></td>
                </tr>
                <tr>
                    <td>DEF</td>
                    <td><input type="text" name="def" id="def" required placeholder="DEF" value="{{ def_value }}"></td>
                </tr>
                <tr>
                    <td>EM</td>
                    <td><input type="text" name="em" id="em" required placeholder="EM" value="{{ em_value }}"></td>
                </tr>
                <tr>
                    <td>Crit Rate</td>
                    <td><input type="text" name="cr" id="cr" required placeholder="Crit Rate" value="{{ cr_value }}"></td>
                </tr>
                <tr>
                    <td>Crit Damage</td>
                    <td><input type="text" name="cdm" id="cdm" required placeholder="Crit Damage" value="{{ cdm_value }}"></td>
                </tr>
                <tr>
                    <td>Damage Bonus</td>
                    <td><input type="text" name="dmgbonus" id="dmgbonus" required placeholder="Damage Bonus" value="{{ dmgbonus_value }}"></td>
                </tr>
                <tr>
                    <td>Level Char</td>
                    <td><input type="text" name="lvlchar" id="lvlchar" required placeholder="Level Char" value="{{ lvlchar_value }}"></td>
                </tr>
                <tr>
                    <td>Enemy</td>
                </tr>
                <tr>
                    <td>Level Enemy</td>
                    <td><input type="text" name="lvlenemy" id="lvlenemy" required placeholder="Level Enemy" value="{{ lvlenemy_value }}"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Enter</button></td>
                </tr>
            </table>
        </article>
        <!-- Switch for "Skill Active" -->
        <div class="switch-container">
            <label for="skill-switch" class="switch-label">Skill Active</label>
            <label class="switch">
                <input type="checkbox" id="skill-switch" name="skill_active" value="on">
                <span class="slider round"></span>
            </label>

            <label for="lowhp-switch" class="switch-label">Low HP Active</label>
            <label class="switch">
                <input type="checkbox" id="lowhp-switch" name="lowhp_active" value="on">
                <span class="slider round"></span>
            </label>
        </div>

        <!-- Radio Buttons for "None", "Vaporise", "Melt" -->
        <div class="reaction-options">
            <input type="radio" id="reaction-none" name="reaction" value="None" checked> 
            <label for="reaction-none">
                <span class="reaction-name">None</span>
            </label>

            <input type="radio" id="reaction-vaporise" name="reaction" value="Vaporize"> 
            <label for="reaction-vaporise">
                <span class="reaction-name">Vaporize</span>
            </label>

            <input type="radio" id="reaction-melt" name="reaction" value="Melt"> 
            <label for="reaction-melt">
                <span class="reaction-name">Melt</span>
            </label>
        </div>
    </form>
    {% if submitted %}   
    <article class="result">
        <h3 class="title-result">Demage</h3>
        <table>
            <thead>
                <tr>
                    <th>Type Demage</th>
                    <th>Non Crit</th>
                    <th>Crit</th>
                </tr>
            </thead>
            <tbody>
                {% for attack in namedemage %}
                <tr>
                    <td>{{ attack }}</td>
                    <td>{{ alldemage['nonCrit'][attack] }}</td>
                    <td>{{ alldemage['Crit'][attack] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
    
    {% endif %}
</main>
{% endblock %}